.corpo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.areaData{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28pt;
    width: 60%;
    text-align: center;
    background-color:#98ad22;
    border: solid lightyellow 3px;
}
p{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}