.corpo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.areaData{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28pt;
    width: 35%;
    text-align: center;
    background-color:rgb(185, 110, 19);
    border: solid lightyellow 3px;
}